name: Build and Test

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore PropertyBot.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore PropertyBot.sln
    - name: Test
      run: dotnet test --no-restore --verbosity normal PropertyBot.sln
