name: Publish Docker Image

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore Crawler.ZVG.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore Crawler.ZVG.sln
    - name: Test
      run: dotnet test --no-restore --verbosity normal Crawler.ZVG.sln
      
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run: echo ::set-env name=RELEASE_VERSION::${GITHUB_REF#refs/*/}
      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: liofly/property-bot
          tag_with_ref: true
